<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Search Engine Optimization by Anime Flare SEO Developer -->
  <title>Anime Flare - Watch Anime and 3D Donghua Online For Free</title>
  <meta name="description" content="Explore the exciting world of anime and 3D Donghua on Anime Flare. Stream popular series like Battle Through the Heavens, Jade Dynasty, and more. 100% Free!">
  <meta name="robots" content="follow, index">
  <link rel="canonical" href="https://animeflare.us.to/">
  <link rel="next" href="https://animeflare.us.to/home/">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Anime Flare - Watch Anime and 3D Donghua Online for Free">
  <meta property="og:description" content="Explore the exciting world of anime and 3D Donghua on Anime Flare. Stream popular series like Battle Through the Heavens, Jade Dynasty, and more. 100% Free!">
  <meta property="og:url" content="https://animeflare.us.to/">
  <meta property="og:site_name" content="Anime Flare">
  <meta property="og:image" content="/images/20240402_165332.png">
  <meta property="og:image:type" content="image/png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Anime Flare - Watch Anime and 3D Donghua Online for Free">
  <meta name="twitter:description" content="Explore the exciting world of anime and 3D Donghua on Anime Flare. Stream popular series like Battle Through the Heavens, Jade Dynasty, and more. 100% Free!">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" type="image/png" href="/images/20240402_165332.png">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3365575374685750"
     crossorigin="anonymous"></script>
</head>
<body id="body">
  <header class="sticky z-[1001]">
    <div class="header-content border-b-2 border-black gap-2 w-full bg-[#191919] text-white flex item-center drop-shadow-lg py-[12px]">
        <div class="flex items-center ml-2">
            <button style="display: flex; align-items: center;" class="active:bg-zinc-800 duration-200 rounded-[50%] w-[33px] h-[33px] justify-center">
                <span id="nav-open" class="flex item-center  duration-200"><span class=" material-symbols-outlined">
                  menu
                </span></span>
                <span id="nav-close" class="flex item-center duration-200"><span class=" material-symbols-outlined">
                    close
                  </span></span>
                </button>
              </div>
              <div class="logo text-[22px] ml-1" title="Home"><img src="/images/Anime-cut.png" class="w-32" alt="Anime Flare logo"></div>
              <a href="/register">
                <div class="proile-pic absolute top-4 right-3" title="Login"><img src="/images/user-icon.png" alt="" class="w-8"></div>
              </a>
            </div>
          </header>
          
          <main>
            <%- include('partials/loader.ejs') %>
            <div class="main-content bg-zinc-800 w-full h-screen">
      <div id="slider" class="sticky">
        <a class="slider-img bg-zinc-800" href="/images/intro-banner/btth.jpg"><img class="slider-img h-screen" src="/images/intro-banner/btth.jpg"></a>
        <a class="slider-img bg-zinc-800" href="/images/intro-banner/Jade-Dynasty-Season-2.jpg"><img class="slider-img h-screen" src="/images/intro-banner/Jade-Dynasty-Season-2.jpg"></a>
        <a class="slider-img bg-zinc-800" href="/images/intro-banner/renegade.jpg"><img class="slider-im h-screen" src="/images/intro-banner/renegade.jpg"></a>
        <a class="slider-img bg-zinc-800" href="/images/intro-banner/wu-dong-qiankun-4th-season-1.jpg"><img class="slider-img h-screen" src="/images/intro-banner/wu-dong-qiankun-4th-season-1.jpg"></a>
        <a class="slider-img bg-zinc-800" href="/images/intro-banner/throne_of_seal.jpg"><img class="slider-img h-screen" src="/images/intro-banner/throne_of_seal.jpg"></a>
        <a class="slider-img bg-zinc-800" href="/images/intro-banner/soul-land-ii-the-peerless-tang-clan-1.jpg"><img class="slider-img h-screen" src="/images/intro-banner/soul-land-ii-the-peerless-tang-clan-1.jpg"></a>
      </div>
      <div class="div-block w-full h-screen bg-[#03030399] absolute text-white mt-[-1px] px-4 py-8">
        <div class="text-center">
          <h1 class="text-[25px] mt-[6rem] font-['Lucida Grande', Helvetica, Arial, sans-serif]">Watch  <span class="text-[#FF2525]"><b>Anime</b></span> and  <span class="text-[#FF2525]"><b> Donghua</b></span> Online For <span class="text-[#FF2525]"><b>Free</b></span></h1>
          <div class="joinus-line"><p class="text-[32px] mt-6 text-white"><b><span class="text-blue-400">Join</span> us Now!</b></p>
            <button onclick="location.href='/home'" class="home-btn bg-white text-black active:bg-black active:text-white duration-200 px-5 py-2 rounded-[50px] ml-2">Home</button>
            <button onclick="location.href='/register'" class="signup-btn bg-black active:bg-white active:text-black duration-200 px-5 py-2 rounded-[50px] ml-2">Sign up</button>
          <h1 class="mt-4 text-[13px]">Watch <span class="unlimited text-[#FF4545]"><b>Unlimited</b></span> Anime and 3D Donghua 100% Free without annoying ads</h1>
          </div>
        </div>
      </div>
      <%- include('partials/nav.ejs') %>
    </div>
  </main>

  <%- include('partials/footer.ejs') %>
  <script src="/javascripts/script.js"></script>
</body>
</html>